/*! minireset.css v0.0.6 | MIT License | https://github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select,textarea{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}td:not([align]),th:not([align]){text-align:left}

body {
  font-family: "Helvetica Neue LT", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  background-color: #050608;
  background-image: url('img/dust_right.png'), url('img/dust_top_left.png');
  background-position: right 90%, -20px top;
  background-size: auto, 70%;
  background-repeat: no-repeat, no-repeat;
  color: white;
}
@media screen and (min-width: 800px) {
  body {
    font-size: 24px;
  }
}
@media screen and (min-width: 1600px) {
  body {
    font-size: 28px;
  }
}
@media screen and (min-width: 1919px) {
  body {
    font-size: 36px
  }
}
@media screen and (min-width: 1024px) {
  body.receipt {
    display: grid;
    grid-template-columns: 2fr auto auto 1fr;
    grid-template-rows: 30vh 15vh 40vh 15vh;
    grid-template-areas:
        "header header header header"
        ". greeting product ."
        ". sizes product ."
        "footer footer footer footer";
  }
}

header {
  padding: 2.97em 0 2em;
}
header, footer {
  text-align: center;
}
@media screen and (min-width: 1024px) {
  header {
    grid-area: header;
  }
}

#logo {
  width: 70%;
  max-width: 523px;
  max-height: 91px;
  margin: 0 auto;
}

.receipt #greeting {
  width: 69%;
  padding-top: 1em;
}
@media screen and (min-width: 1024px) {
  .receipt #greeting {
    grid-area: greeting;
    width: 80%;
    margin: 0 0 0 auto;
  }
}

#greeting p {
  font-family: 'Merriweather', Georgia, serif;
  font-style: italic;
  font-size: 1.5em;
  line-height: 1.1em;
  margin: 0;
  text-align: center;
}
.measure #greeting .congrats {
  display: none;
}
.receipt #greeting .intro {
  display: none;
}

#measurements {
  padding: 2em;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}
.receipt #measurements {
  width: 69%;
  padding-bottom: 5em;
}
@media screen and (min-width: 1024px) {
  .receipt #measurements {
    grid-area: sizes;
    width: 80%;
    padding: 1em;
    margin: 0 0 0 auto;
  }
}

#measurements ul {
  display: inline-flex;
  flex-direction: row;
  margin: 0 auto;
  /* flex-wrap: wrap; */
}
.receipt #measurements ul {
  flex-wrap: wrap;
  display: inline-block; 
  margin: 0 auto;
  max-width: 23em;
  text-align: left;
}
.receipt #measurements ul li {
  /* width: 40%; */
  justify-self: space-around;
}

#measurements ul li {
  border: solid 1px white;
  margin: 0.25em 0.75em;
  display: inline-flex;
  flex-direction: row;
}

#measurements ul li.empty {
  opacity: 0.35;
}
#measurements li span {
  padding: 0.5em;
  display: block;
  height: 2em;
  /* vertical-align: middle; */
  min-width: 2.2em;
  line-height: 1em;
}
#measurements li span.label {
  min-width: 3.9em;
  text-align: left;
}
#measurements li span.in,
#measurements li span.cm {
  border-left: solid 1px white;
  text-align: right;
  min-width: 2.2em;

}

#measurements.english li .cm {
  display: none;
}
#measurements.metric li .in {
  display: none;
}



#measurements li .in::after {
  display: inline;
  content: "\"";
}
#measurements li.empty .in::after {
  display: none;
}
#measurements li .cm::after {
  display: inline;
  content: "cm";
}
#measurements li.empty .cm::after {
  display: none;
}

#speech {
  width: 100%;
  max-width: 550px;
  margin: 0 auto;
  padding-bottom: 1.5em;
  text-align: center;
  display: grid;
  grid-template-columns: auto 2em 55% auto;
  grid-template-rows: auto 2em auto auto;
  grid-template-areas: 
    "status status status status"
    ". mic waveform ."
    "transcript transcript transcript transcript"
    "confidence confidence confidence confidence";
}
.receipt #speech {
  display: none;
}
@media screen and (min-width: 800px) {
  #speech {
    max-width: 820px;
  }
}
@media screen and (min-width: 1600px) {
  #speech {
    max-width: 950px;
  }
}
@media screen and (min-width: 1919px) {
  #speech {
    max-width: 1200px;
  }
}

#status {
  font-size: 0.75em;
  font-weight: 300;
  letter-spacing: 0.25px;
  text-align: center; 
  padding: 0 1em 1em;
  font-family: 'Merriweather', Georgia, serif;
  grid-area: status;
}

#listen_toggle {
  -webkit-appearance: none;
  font-size: 1rem;
  padding: 0.25em;
  height: 100%;
  width: 100%;
  background-color: black;
  border: solid 1px white;
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  grid-area: mic;
}
#listen_toggle.active svg .listen-mic {
  /* fill: #cc0000; */
  fill: #00BDFA;
}
#listen_toggle.active svg .listen-glow {
  display: none;
}

#waveform {
  width: 100%;
  /* max-width: 489px; */
  height: 2em;
  background-color: black;
  color: white;
  border: solid 1px white;
  border-left: none;
  display: inline-block;
  vertical-align: bottom;
  grid-area: waveform;
}

#transcription {
  font-family: 'Merriweather', Georgia, serif;
  font-size: 0.75em;
  opacity: 0.65;
  padding-top: 1em;
  color: white;
  grid-area: transcript;
}
#transcription.final {
  opacity: 0.95;
  color: #00bdfa;
}
#confidence {
  font-size: 0.5em;
  opacity: 0.5;
  padding-top: 0.5em;
  grid-area: confidence;
}

@media screen and (min-width: 1024px) {
  .receipt footer {
    grid-area: footer;
  }
}

a.primary-button {
  display: inline-block;
  font-size: 0.777778em;
  text-transform: uppercase;
  color: white;
  padding: 0.61111rem 2.3rem;
  margin: 0 auto;
  border: solid 3px white;
  position: relative;
  text-decoration: none;
}
a.primary-button.disabled {
  opacity: 0.35;
  cursor: default;
}

a.primary-button:hover {
  background-color: white;
  color: black;
}
a.primary-button:active {
  background-color: #eee;
  color: black;
  top: 1px;
}
a.primary-button.disabled:hover,
a.primary-button.disabled:active {
  background-color: black;
  color: white;
  top: 0;
}


#recommended {
  text-align: left;
  font-weight: 300;
  width: 300px;
}
.measure #recommended {
  display: none;
}
.receipt #recommended {
  display: block;
  width: 30%;
  margin: 0 0 0 auto;
  padding-bottom: 1em;
  position: absolute;
  left: 60%;
  top: 8em;
  max-width: 490px;
}
@media screen and (min-width: 1024px) {
  .receipt #recommended {
    grid-area: product;
    margin: 0 auto 0 2em;
    position: static;
    padding-right: 1em;
    width: 50%;
  }
}
#recommended img {
  display: block;
}

#recommended p {
  vertical-align: text-bottom;
}
.description {
  font-size: 1em;
  padding-top: 0.5em;
}
.rating {
  height: 2em;
  padding: 0.5em 0;
}
.price {
  font-size: 1em;
}
.price>span {
  font-size: 0.5em;
  vertical-align: super;
}
