@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  margin: 0;
  background-image: url("images/background.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f6fa;
}

h1 {
  font-family: 'Poppins';
  font-size: 14px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  border-radius: 50%;
  height: 150px;
  width: 150px;
}
